/*ICONOS*/
.fa-github {
    color: white;
    font-size: 24px; }
    .fa-github:hover {
      color: #f0cc03; }
  
  .fa-instagram {
    color: white;
    font-size: 24px; }
    .fa-instagram:hover {
      color: #f0cc03; }
  
  .fa-sign-in-alt {
    color: white;
    font-size: 24px; }
    .fa-sign-in-alt:hover {
      color: #f0cc03; }
  
  .fa-shopping-cart {
    color: #f0cc03;
    font-size: 24px; }
    .fa-shopping-cart:hover {
      color: white; }
  
  .fa-home {
    font-size: 20px; }
  
  .fa-images {
    font-size: 20px; }
  
  .fa-question {
    font-size: 20px; }
  
  .fa-address-card {
    font-size: 20px; }